# Loops

In [164]:
list1=['venky',50,7.5]
list1

['venky', 50, 7.5]

In [165]:
list1.append("rockzz")
list1

['venky', 50, 7.5, 'rockzz']

In [166]:

list1.clear()
list1

[]

In [167]:
list1=['venky',50,7.5]
newlist=list1
print("New list is: ", newlist)
print("Old list is: ", list1)

New list is:  ['venky', 50, 7.5]
Old list is:  ['venky', 50, 7.5]

In [168]:
list1.append(73.5)
list1.count(73.5)

1

In [169]:
list1.extend(newlist)
list1

['venky', 50, 7.5, 73.5, 'venky', 50, 7.5, 73.5]

In [170]:
list1.index(50)

1

In [171]:
list1.insert(4,"Letsupgrade")
list1

['venky', 50, 7.5, 73.5, 'Letsupgrade', 'venky', 50, 7.5, 73.5]

In [172]:
list1.pop(3)

73.5

In [173]:

newlist.remove('Letsupgrade')
newlist

['venky', 50, 7.5, 'venky', 50, 7.5, 73.5]

In [174]:
list1

['venky', 50, 7.5, 'venky', 50, 7.5, 73.5]

In [175]:
newlist.reverse()
newlist

[73.5, 7.5, 50, 'venky', 7.5, 50, 'venky']

In [178]:
lista=['v','e','n','k']
lista.sort()
lista

['e', 'k', 'n', 'v']

# Dictionary

In [183]:
dict={1:'one',2:'two'}
dict

{1: 'one', 2: 'two'}

In [184]:

new=dict.copy()
print("New dict is:",new)

New dict is: {1: 'one', 2: 'two'}

In [185]:
keys={'v','e','n','k','y'}
values= 'alphabet'
dict1=dict.fromkeys(keys,values)
dict1

{'v': 'alphabet',
 'y': 'alphabet',
 'k': 'alphabet',
 'n': 'alphabet',
 'e': 'alphabet'}

In [189]:

print(dict.get(1))
print(dict1.get('v'))

one
alphabet

In [190]:

print(dict.items())

dict_items([(1, 'one'), (2, 'two')])

In [191]:
print(dict1.keys())

dict_keys(['v', 'y', 'k', 'n', 'e'])

In [193]:

dict1.pop('e')
dict1

{'v': 'alphabet', 'y': 'alphabet', 'k': 'alphabet', 'n': 'alphabet'}

In [194]:
dict.setdefault(1)

'one'

# sets

In [195]:
set={"sai",1,3,3,2,6,6}
set.add(8)
set

{1, 2, 3, 6, 8, 'sai'}

In [196]:

numbers={1,2,3}
newnumbers=numbers.copy()
print(newnumbers)
newnumbers.add(4)
print(newnumbers)

{1, 2, 3}
{1, 2, 3, 4}

In [197]:
set1={1,2,3,4,5}
set2={3,6,7}
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 4, 5}
{6, 7}

In [198]:
print(set1.difference_update(set2))

None

In [199]:
set1.discard(2)
set1

{1, 4, 5}

In [200]:
set2={1,3,6}
print(set2.intersection(set1))

{1}

In [201]:
print(set.intersection_update(set2))

None

In [202]:
print(set1.isdisjoint(set2))

False

In [203]:
print(set1.issubset(set2))

False

In [204]:
print(set2.issuperset(set1))

False

In [205]:
print(set1.pop())

1

In [206]:

print(set1)
print(set2)

{4, 5}
{1, 3, 6}

In [207]:
set2.remove(1)
set2

{3, 6}

In [208]:
set1={'a','b','c','d'}
set2={'c','d','e'}
print(set1.symmetric_difference(set2))
print(set1.symmetric_difference_update(set2))

{'a', 'b', 'e'}
None

In [209]:
print(set1.union(set2))

{'a', 'b', 'c', 'e', 'd'}

In [210]:
result=set1.update(set2)
print(set1)
print(result)

{'a', 'b', 'c', 'e', 'd'}
None

In [211]:
set1.clear()
set2.clear()
print(set1)
print(set2)

set()
set()

# tuple

In [213]:
tup=("sai","@","sai")
tup

('sai', '@', 'sai')

In [214]:
tup.count('sai')

2

In [215]:
tup.index('sai')

0

# string

In [216]:
str="python"
str.capitalize()

'Python'

In [217]:

string='PYTHON'
print("lowercase string:",string.casefold())

lowercase string: python

In [219]:
result=string.endswith('N')
print(result)

True

In [220]:
encode=string.encode()
print("The encoded version is:",encode)

The encoded version is: b'PYTHON'

In [221]:
print(string.swapcase())

python

In [222]:

string.find('Y')

1

In [223]:
s='\nnew line is printable'
print(s)
print(s.isprintable())

new line is printable
False